.login__link {
	display: inline-block;
	padding: 1rem 4.375rem;
	border: 1px solid #2a7ae4;
	color: #2a7ae4;
	background-color: #ffffff;
	font-size: 1rem;
	font-weight: 400;
	font-family: "Inter", sans-serif;
	text-decoration: none;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.login__link:hover,
.login__link:focus {
	background-color: #2a7ae4;
	color: #ffffff;
}

@media screen and (max-width: 912px) {
	.login__link {
		padding: 0.75rem 4rem;
		font-size: 0.875rem;
	}
}

@media screen and (max-width: 540px) {
	.login__link {
		padding: 0.75rem 2.937rem;
		position: absolute;
		right: 75px;
		top: 16px;
	}
}
