.banner__title {
	font-size: 3.25rem;
	font-weight: 700;
	text-align: left;
	color: #fff;
	margin-bottom: 1rem;
}

@media screen and (max-width: 540px) {
	.banner__title {
		font-size: 1.375rem;
	}
}
