.login__link-register {
	font-size: 0.8rem;
	font-weight: 400;
	text-decoration: none;
	color: #a2a2a2;
	text-align: center;
	padding: 1.5rem 1rem;
}

.login__link-register:hover {
	color: #2a7ae4;
}
